body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}
#instructions{
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #FEF2BF;
}
.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
.saddlebrown{
  background-color: saddlebrown;
}
.palevioletred{
  background-color: palevioletred;
}
.white {
  background-color: white;
}
.orange{
  background-color: orange;
}
.indigo{
  background-color: indigo;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
} 

@media screen and (max-width: 1048px) {
  .container {
      display: block;
      width: 70%;
      margin: auto;
      padding-top: 10%; 
  }

  .btn {
    margin: 25px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 20%;
  }
}